+block( icon )
  position relative
  display inline-block
  height 1em
  font-size inherit

  +element( img )
    width 1em
    height 1em
    object-fit contain

  +element( badge )
    position absolute
    top 0
    right 0
    box-sizing content-box
    min-width 1.4em
    height @min-width
    border-radius 1em
    background-color #ee0a24
    color #fff
    text-align center
    font-weight normal
    font-size 12px
    transform translate( 50%, -50% )
    transform-origin 100%

    &:empty
      font-size 6px
