+block( icon )
  position relative
  font-style normal
  font-size inherit

  &
    @extends $inline

  +element( img )
    width 1em
    height 1em
    object-fit contain

  +element( badge )
    position absolute
    top -8px
    right -8px
    box-sizing border-box
    padding 2px 4px
    min-width 16px
    border-radius 99px
    background-color #ee0a24
    color #fff
    text-align center
    font-weight normal
    font-size 12px

    &:empty
      top -4px
      right -4px
      padding 4px
      min-width 0
