vars = json( "config.json", { hash: true } )

@import "./stylus/bem.styl"
// @import "./stylus/var.styl"
@import "./stylus/mixin.styl"
@import "./swiper"
@import "./icon"
@import "./table"
@import "./date-picker"
