+block( tab )
  position relative

  +element( tags )
    &
      @extends $flex

  +element( tag )
    margin-right 40px
    padding 0 8px
    height 40px
    border-bottom 2px solid transparent
    color #a6a6a6
    font-size 20px
    cursor pointer
    transition font-size 200ms

    &:last-child
      margin-right 0

    /
      +element( disabled )
        opacity 0.8
        cursor not-allowed

        /
          +element( active )
            &
            ^[1]:not(^[3]):hover
              color #d9d9d9

            &
              border-color #d79e50
