+block( table )
  width 100%
  border-spacing 0
  border-collapse collapse
  border-color pink
  table-layout fixed
  text-align center

  +self( outer )
    overflow auto
    max-width 100%

  thead
    overflow hidden

  th
    position relative
    overflow hidden
    padding 8px 0
    height 100%
    white-space nowrap
    font-weight normal

  th
  td
    overflow hidden
    box-sizing border-box
    padding 10px
    padding-right 18px
    padding-left 18px
    min-width 0
    height 48px
    text-overflow ellipsis
    white-space normal
    word-break break-all

  +element( left )
    text-align left

  +element( right )
    text-align right

  +element( center )
    text-align center

  +modifier( small )
    padding 0

  +modifier( large )
    padding 0

  +modifier( fixed )
    table-layout auto

  +modifier( stripe )
    tr:nth-child(2n) td
      background-color #eee
      color #000

  +modifier( hover )
    td
      transition background-color 300ms

    tr:hover>td
      background-color red
      color gold

  +element( row )
    +modifier( disabled )
      opacity 0.5
      pointer-events none
